# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# R
*.Rhistory

# Environments
.env
.venv
env/
venv*/
ENV/
osprey-flask-app-venv/
env.bak/
venv.bak/

# Selenium webdriver log
geckodriver.log
